<h1 align="center" style="font-family:Proxima Nova; font-size:35px">Modify Bill</h1>

<h2 align="center" style="font-family:Proxima Nova; font-size:20px"><%= render 'form' %></h2>

<h3 align="center">
<%= link_to 'Show', @bill %> |
<%= link_to 'Back', bills_path %>
</h3>