<h1 align="center" style="font-family:Proxima Nova; font-size:35px">New Bill</h1>

<ha align="center" style="font-family:Proxima Nova; font-size:20px">

<%= render 'form' %>

<%= link_to 'Back', bills_path %>
</ha>